:ruby
  days = Day.where.not(country: nil).order('id DESC').page(params[:page] || 1).per(13)
  tiles = days.map{|d| d.random.try(:photo).try(:large_tile) }

- large_tiles = capture_haml do
  - tiles.each_with_index do |t, i|
    .large-tile{class: "tile-#{i}", style: "background-image: url(#{t})"}

.baseline Live one day in someone else's shoes

.days
  - days.each_with_index do |d, i|
    - content = capture_haml do
      .overlay
      .content
        .country= d.country_name
        .user= "by #{d.user.first_name}"
      = large_tiles


    - if (i % 15 == 3) || (i % 15 == 9)
      .day{class: "day-#{i}"}
        = link_to d do
          = image_tag d.thumb.try(:photo).try(:double_tile)
          = content

    - else
      .day{class: "day-#{i}"}
        = link_to d do
          = image_tag d.thumb.try(:photo).try(:tile)
          = content

.pagination

  = link_to "/?page=#{days.current_page - 1}", class: "prev #{(days.current_page == 1) && "disabled"}" do
    %svg{width: "15px", height: "30px", viewBox: '0 0 15 30'}
      %line{stroke: "#333", x1: 15, y1: 0, x2: 0, y2: 15, strokeWidth: 1}
      %line{stroke: "#333", x1: 15, y1: 30, x2: 0, y2: 15, strokeWidth: 1}
  .page<>= "page #{days.current_page} of #{days.total_pages}"
  = link_to "/?page=#{days.current_page + 1}", class: "next #{(days.current_page == days.total_pages) && "disabled"}" do
    %svg{width: "15px", height: "30px", viewBox: '0 0 15 30'}
      %line{stroke: "#333", x1: 0, y1: 0, x2: 15, y2: 15, strokeWidth: 1}
      %line{stroke: "#333", x1: 0, y1: 30, x2: 15, y2: 15, strokeWidth: 1}

.share
  = link_to new_user_session_path, class: 'share-my-day' do
    Share your day !

- content_for :scripts do
  :coffeescript
    days = $(".days")
    $(".days .day").on 'mouseover', (e)->
      days.attr 'class', ''
      days.addClass "days"
      days.addClass $(e.currentTarget).attr('class')

    $(".days .day").on 'mouseout', (e)->
      days.attr 'class', 'days'

    animateLogoStatic()
