.header
  - if @day.user.avatar.present?
    .user-avatar
      = image_tag @day.user.avatar.medium
  %p.strong= "Hi, my name is #{@day.user.first_name}, and I live in #{@day.country_name}"
  %p
    Here is my day:

%ul.moments
  - portraits = 0
  - resource.moments.order(:seq).each do |m|
    - klass = []
    - if m.photo_meta.photo_width <  m.photo_meta.photo_height
      - klass << :portrait
      - klass << :reverse if portraits % 2 == 1
      - portraits += 1
    - klass << "with-title" if m.title.present?
    %li.moment{class: klass}
      - if m.time.present?
        .time
          = m.time.l(format: "%H:%M")
      - if m.title.present?
        .title= m.title
      .img-container= image_tag m.photo.large
      - if m.legend.present?
        .legend= m.legend
      .clearfix

- content_for :scripts do
  :coffeescript
    animateLogo()
