.header
  - if @day.user.avatar.present?
    .user-avatar
      = image_tag @day.user.avatar.medium
  %p= "Hi, my name is #{@day.user.first_name}, and I live in #{@day.country_name}"
  %p
    Here is my day:

%ul.moments
  - resource.moments.order(:seq).each do |m|
    %li.moment
      - if m.time.present?
        .time
          = icon :'clock-o'
          = m.time.l(format: "%H:%M")
      = image_tag m.photo.large
      - if m.title.present?
        .title= m.title
      - if m.legend.present?
        .legend= m.legend

- content_for :scripts do
  :coffeescript
    animateLogo()
