.header{class: @day.user.avatar.present? && 'with-avatar'}
  .inner
    - if @day.user.avatar.present?
      .user-avatar
        = image_tag @day.user.avatar.medium
    %p.strong= "Hi, my name is #{@day.user.first_name}, and I live in #{@day.country_name}"
    %p= @day.description.present? ? @day.description : "Here is my day:"


.map-container
  #map

%ul.moments
  - portraits = 0
  - resource.moments.order(:seq).each do |m|
    - klass = []
    - if m.photo_meta.photo_width <  m.photo_meta.photo_height
      - klass << :portrait
      - klass << :reverse if portraits % 2 == 1
      - portraits += 1
    - klass << "with-title" if m.title.present?
    %li.moment{class: klass}
      - if m.time.present?
        .time
          = m.time.l(format: "%H:%M")
      - if m.title.present?
        .title= m.title
      .img-container= image_tag m.photo.large
      - if m.legend.present?
        .legend= m.legend
      .clearfix

- content_for :scripts do
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCc7ts_zWAoFRm_kiA8rKuSxka3cmtw3QQ"}

  :coffeescript
    window.scrollLimit = $(".moments").offset().top
    animateLogo()

    pos = {lat: #{resource.location.lat}, lng: #{resource.location.lng}}
    $(".map-container").width $(window).width()
    $(".map-container").css marginLeft: ($("#content .container-fluid").width() - $(".map-container").width())*0.5

    map = new google.maps.Map $('#map')[0],
      zoom: #{resource.location.zoom}
      center: pos
      disableDefaultUI: true
      scrollwheel: false

    marker = new google.maps.Marker
      map: map
      animation: google.maps.Animation.DROP
      position: pos
