:ruby
  description = nil
  title = nil

  if resource.present?
    if resource.respond_to?(:seo_meta) && meta = resource.seo_meta
      description = meta.description
      title = meta.title
    end

    if resource.class.respond_to?(:seo_meta) && meta = resource.class.seo_meta
      description = meta.description if description.blank?
      title = meta.title if title.blank?
    end
  elsif meta = SeoMeta.for_resource_index(params[:controller].classify).first
    description = meta.description
    title = meta.title
  elsif meta = SeoMeta.for_static_action(params[:action]).first
    description = meta.description
    title = meta.title
  end

  if description.blank?
    description = content_for?(:description) ? yield(:description) : 'app_name'.t
  end

  if title.blank?
    title = content_for?(:title) ? yield(:title) : 'app_name'.t
  end

!!!
= cc_html lang: :fr, class: 'no-js' do
  %head
    %link{:href => "/assets/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/assets/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/assets/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/assets/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/assets/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/assets/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/assets/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/assets/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/assets/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/assets/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/assets/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/assets/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/assets/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/assets/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "/assets/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/

    %title= title
    %meta{name: "description", content: "#{description}"}/
    = yield :meta

    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'screen', rel: 'stylesheet'}

    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "mobile-web-app-capable", content: "yes"}/
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}/

    %link{ rel: "apple-touch-icon", href:"/images/apple-touch-icon.png"}/

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:400,300,600", rel: "stylesheet", type: "text/css"}/
    = yield :styles
    = javascript_include_tag 'critical'
    = csrf_meta_tags

  - body_class = "#{yield :extra_body_class} #{controller_name} #{action_name}".strip
  %body{class: body_class}
    %header
      .container-fluid
        = link_to new_user_session_path, class: 'share-my-day' do
          Share your day !
        %h1
          = link_to '/' do
            = render partial: "shared/logo"
    .scrolled-header
      .container-fluid
        = render partial: "shared/logo"



    .scroll-wrapper
      .inner-scroll-wrapper
        - if content_for?(:content_header)
          - content_header_class = yield :content_header_class
          - content_header_style = yield :content_header_style
          .content-header{class: content_header_class, style: content_header_style}
            .container-fluid= yield :content_header

        - content_class = yield :extra_content_class
        #content{class: content_class}
          .container-fluid

            = yield

    %footer
      .container-fluid
        Made by
        %a{href: "http://twitter.com/zog", target: '_blank'}
          Zog
        and
        %a{href: "http://twitter.com/Reuno", target: '_blank'}
          Reuno

    <!--[if IE 8]>
    = javascript_include_tag 'shame'
    <![endif]-->

    <!--[if IE 9]>
    = javascript_include_tag 'shame'
    <![endif]-->

    = javascript_include_tag "application"
    = yield :scripts
